<template>
  <div class="row info">
    <div class="col-2 img-div align-v-center">
      <img
        :src="
          activeChatUserData.profilePic ? activeChatUserData.profilePic : picSrc
        "
        alt="img"
      />
    </div>
    <p class="col-4" style="text-align: left">{{ activeChatUserData.name }}</p>
    <div v-if="activeChatUserData.online" class="col-4 ml-auto align-v-center">
      <div class="dot"></div>
    </div>
  </div>
</template>

<script>
import altPic from "../../assets/person_outline_black_24dp.svg";

export default {
  name: "ActiveChatInfo",
  props: ["active-chat-user-data"],
  data() {
    return {
      picSrc: altPic,
    };
  },
  watch: {
    activeChatUserData(n) {
      console.log("activeChatUserData WATCHER : ", n);
    },
  },
};
</script>
<style scoped>
.info {
  background-color: lightcyan;
  border-bottom: 3px solid #0079ff;
  box-sizing: border-box;
}
.img-div {
  justify-content: flex-end;
  padding: 0 5px;
}

img {
  border-radius: 20px;
  max-width: 50px;
  max-height: 50px;
  min-width: 40px;
  min-height: 40px;
  object-fit: cover;
}
.dot {
  margin: auto;
  background-color: #47c704;
  padding: 10px;
  border-radius: 100%;
  box-shadow: 0px 0px 10px green;
  -webkit-animation: 1s blink ease infinite;
  -moz-animation: 1s blink ease infinite;
  -ms-animation: 1s blink ease infinite;
  -o-animation: 1s blink ease infinite;
  animation: 1s blink ease infinite;
}
@keyframes blink {
  from,
  to {
    background-color: #21ad4b;
  }
  50% {
    background-color: green;
  }
}
</style>