<template>
  <div>
    <div class="h-100" v-if="activeChatUserData">
      <previous-msg
        class="previous-msg-class"
        :active-user-previous-msg="activeUserPreviousMsg"
        :active-chat-user-data="activeChatUserData"
        @fetch-new-chat-data="fetchNewChatDataFunc"
      />
      <chatting-bar
        :focus-input="focusInput"
        class="chatting-bar-class"
        @send-msg="sendMsgFunc"
      />
    </div>
    <div class="align-v-h-center h-100" v-else>
      <p>Select a Chat to open messages</p>
    </div>
  </div>
</template>

<script>
import { useToast } from "vue-toastification";
import ChattingBar from "./ChattingBar.vue";
import PreviousMsg from "./PreviousMsg.vue";
import { sendMessage, getUserMsg } from "../../services/UserService";
import openSocket from "socket.io-client";

export default {
  components: { PreviousMsg, ChattingBar },
  name: "ChatArea",
  props: ["user-data", "active-chat-user-data"],
  emits: ["new-message-arrived", "send-msg", "new-user-online"],
  data() {
    return {
      activeUserPreviousMsg: null,
      focusInput: 1,
    };
  },
  beforeMount() {
    const socket = openSocket("http://localhost:3080");
    socket.on("chat-added", (data) => {
      console.log("socket chat-added data : ", data);
    });
    socket.emit("new-user-connected", { userId: this.userData }, (err) => {
      console.log("emit err : ", err);
    });

    socket.on("connect", () => {
      console.log("client side connect socket.id", socket.id);
    });

    socket.on("disconnect", () => {
      console.log("client side disconnect socket.id", socket.id);
    });
    socket.on("new-message", (chat) => {
      console.log("client side new-message", chat);
      this.appendMessage(chat);
      this.toastShow(chat);
      this.$emit("new-message-arrived", chat);
    });
    socket.on("new-user-online-offline-status", (newUser) => {
      this.$emit("new-user-online", newUser);
    });
  },
  watch: {
    activeChatUserData(n) {
      getUserMsg(n._id, new Date()).then((res) => {
        console.log("getUserMsg : ", res);
        if (res.msg == "success") {
          this.activeUserPreviousMsg = res.chats;
        }
        this.focusInput++;
      });
    },
  },
  methods: {
    toastShow(chat) {
      useToast().info("New Message from " + chat.sender.name, {
        position: "top-right",
        timeout: 3000,
        closeOnClick: true,
        pauseOnFocusLoss: true,
        pauseOnHover: true,
        draggable: true,
        draggablePercent: 0.6,
        showCloseButtonOnHover: false,
        hideProgressBar: true,
        closeButton: "button",
        icon: {
          iconClass: "material-icons", // Optional
          iconChildren: "chat", // Optional
          iconTag: "span", // Optional
        },
        rtl: false,
      });
    },
    sendMsgFunc(msg) {
      // console.log("sendMsgFunc : ", msg);
      sendMessage({
        message: msg,
        receiver: this.activeChatUserData._id,
        time: Date.now(),
      }).then((res) => {
        console.log("sendMessage : ", res);
        if (res.msg == "success") {
          this.appendMessage(res.chat);
          this.$emit("send-msg", res.chat);
        }
      });
    },
    appendMessage(chat) {
      if (this.activeUserPreviousMsg == null) {
        this.activeUserPreviousMsg = [];
        this.activeUserPreviousMsg.push(chat);
      } else {
        var updatedChatList = [chat, ...this.activeUserPreviousMsg];
        this.activeUserPreviousMsg = updatedChatList;
      }
    },
    fetchNewChatDataFunc() {
      let lstTime = new Date();
      if (
        this.activeUserPreviousMsg != null &&
        this.activeUserPreviousMsg.length > 0
      ) {
        lstTime = this.activeUserPreviousMsg[
          this.activeUserPreviousMsg.length - 1
        ].time;
      }

      getUserMsg(this.activeChatUserData._id, lstTime).then((res) => {
        console.log("fetchNewChatDataFunc getUserMsg: ", res);
        if (res.msg == "success") {
          var updatedChatList = [...this.activeUserPreviousMsg, ...res.chats];
          var uniqueIds = [];
          var newUpdateList = updatedChatList.filter((elem) => {
            let idx = uniqueIds.findIndex((el) => {
              return el == elem._id;
            });
            if (idx == -1) {
              uniqueIds.push(elem._id);
              return true;
            }
            return false;
          });
          this.activeUserPreviousMsg = newUpdateList;
        }
      });
    },
  },
};
</script>

<style scoped>
.previous-msg-class {
  height: calc(100% - 60px);
}
.chatting-bar-class {
  height: 60px;
}
</style>