<template>
  <div class="chat-bar">
    <div class="form-div">
      <input
        id="msg-input"
        v-model="msgText"
        v-on:keyup.enter="onEnterPressedFunc"
        type="text"
        name="msg-input"
        placeholder="Enter message here..."
      />
      <button @click="sendMsgFunc" :disabled="btnDisabled" class="btn">
        Send
      </button>
    </div>
  </div>
</template>

<script>
export default {
  name: "ChattingBar",
  emits: ["send-msg"],
  props: ["focus-input"],
  data() {
    return {
      msgText: "",
    };
  },
  watch: {
    focusInput() {
      document.getElementById("msg-input").focus();
    },
  },
  computed: {
    btnDisabled() {
      if (this.msgText.length > 0) {
        return false;
      }
      return true;
    },
  },
  methods: {
    sendMsgFunc() {
      this.$emit("send-msg", this.msgText);
      this.msgText = "";
    },
    onEnterPressedFunc() {
      console.log("onEnterPressedFunc");
      this.sendMsgFunc();
    },
  },
};
</script>

<style scoped>
.chat-bar {
  border-top: 1px solid gray;
  box-sizing: border-box;
}
</style>