<template>
  <div class="header-class row">
    <div class="col-1"></div>
    <div class="col-1 img-div">
      <img
        @click="changeProfilePicFunc"
        class="h-100"
        :src="userData.profilePic ? userData.profilePic : picSrc"
        alt="img"
      />
    </div>
    <div class="col-4 align-v-center">
      <p>{{ userData.name }}</p>
    </div>
    <div class="col-3 align-v-h-center ml-auto">
      <button class="btn" @click="logOutFunc">Log Out</button>
    </div>
    <teleport v-if="changeProfilePic" to="body">
      <profile-pic
        :user-data="userData"
        @close-profile-pic="closeProfilePicFunc"
        @change-img-in-user-data="changeImgInUserDataFunc"
      />
    </teleport>
  </div>
</template>

<script>
import { signOut } from "../../services/UserService";
import ProfilePic from "./ProfilePic.vue";
import altPic from "../../assets/person_outline_black_24dp.svg";

export default {
  components: { ProfilePic },
  name: "HeaderComp",
  props: ["user-data"],
  emits: ["user-signed-out", "change-img-in-user-data"],
  data() {
    return {
      changeProfilePic: false,
      picSrc: altPic,
    };
  },
  methods: {
    logOutFunc() {
      signOut({}).then((res) => {
        console.log("signOut res : ", res);
        this.$emit("user-signed-out", true);
      });
    },
    changeProfilePicFunc() {
      console.log("changeProfilePicFunc");
      this.changeProfilePic = true;
    },
    closeProfilePicFunc() {
      console.log("closeProfilePicFunc");
      this.changeProfilePic = false;
    },
    changeImgInUserDataFunc(t) {
      this.$emit("change-img-in-user-data", t);
    },
  },
};
</script>

<style scoped>
.header-class {
  background-color: bisque;
}
.img-div {
  text-align: right;
  padding: 5px;
}

img {
  cursor: pointer;
  border-radius: 20px;
  width: 100%;
  max-width: 60px;
  max-height: 60px;
  object-fit: cover;
}
</style>