<template>
  <div class="row">
    <user-list
      class="col-4"
      @user-clicked="userClickedFunc"
      :new-user-online="newUserOnline"
      :new-message-arrived="newMessageArrived"
      :active-chat-user-data="activeChatUserData"
    />
    <chat-area
      class="chat-area-class col-8"
      :user-data="userData"
      :active-chat-user-data="activeChatUserData"
      @send-msg="newMessageArrivedFunc"
      @new-user-online="newUserOnlineFunc"
      @new-message-arrived="newMessageArrivedFunc"
    />
  </div>
</template>

<script>
import ChatArea from "./ChatArea.vue";
import UserList from "./UserList.vue";
export default {
  components: { UserList, ChatArea },
  name: "MainGround",
  props: ["user-data"],
  data() {
    return {
      activeChatUserData: null,
      newMessageArrived: null,
      newUserOnline: null,
    };
  },
  methods: {
    userClickedFunc(user) {
      this.activeChatUserData = user;
    },
    newMessageArrivedFunc(chat) {
      this.newMessageArrived = chat;
    },
    newUserOnlineFunc(t) {
      this.newUserOnline = t;
    },
  },
};
</script>

<style scoped>
.chat-area-class {
  border-left: 2px solid #9224ad;
}
</style>
