<template>
  <div class="h-100">
    <header-comp
      :user-data="userData"
      class="header-comp-class w-100"
      @user-signed-out="userSignedOutFunc"
      @change-img-in-user-data="changeImgInUserDataFunc"
    />
    <main-ground :user-data="userData" class="main-ground-class" />
  </div>
</template>

<script>
import HeaderComp from "./HeaderComp.vue";
import MainGround from "./MainGround.vue";
export default {
  components: { HeaderComp, MainGround },
  name: "MainPage",
  emits: ["user-signed-out", "change-img-in-user-data"],
  props: ["user-data"],
  data() {
    return {};
  },
  methods: {
    userSignedOutFunc(t) {
      this.$emit("user-signed-out", t);
    },
    changeImgInUserDataFunc(t) {
      this.$emit("change-img-in-user-data", t);
    },
  },
};
</script>

<style scoped>
.header-comp-class {
  height: var(--header-height);
  /* max-height: 70px;
  min-height: 70px; */
}
.main-ground-class {
  height: var(--main-ground-height);
}
</style>