<template>
  <div>
    <active-chat-info
      class="active-chat-info-class"
      :active-chat-user-data="activeChatUserData"
    />
    <div
      class="h-90 prev-chats rest-class"
      @scroll="scrollFunc"
      v-if="activeUserPreviousMsg && activeUserPreviousMsg.length > 0"
    >
      <div
        class="chat-info"
        v-for="chat in activeUserPreviousMsg"
        :key="chat._id"
      >
        <div
          :class="{ senderClass: chat.sentByMe, receiverClass: !chat.sentByMe }"
        >
          <p>{{ chat.message }}</p>
          <small>{{ getReadableTime(chat.time) }}</small>
        </div>
      </div>
    </div>
    <div class="align-v-h-center rest-class" v-else>
      <p>Start a Chat!</p>
    </div>
  </div>
</template>

<script>
import ActiveChatInfo from "./ActiveChatInfo.vue";

export default {
  components: { ActiveChatInfo },
  name: "PreviousMsg",
  props: ["active-user-previous-msg", "active-chat-user-data"],
  emits: ["fetch-new-chat-data"],
  methods: {
    getReadableTime(d) {
      d = new Date(d);
      return (
        d.getDate() +
        "/" +
        (d.getMonth() < 10 ? "0" + (d.getMonth() + 1) : d.getMonth() + 1) +
        "/" +
        d.getFullYear() +
        "  " +
        (d.getHours() < 10 ? "0" + d.getHours() : d.getHours()) +
        ":" +
        (d.getMinutes() < 10 ? "0" + d.getMinutes() : d.getMinutes()) +
        ":" +
        (d.getSeconds() < 10 ? "0" + d.getSeconds() : d.getSeconds())
      );
    },
    scrollFunc(e) {
      // console.log("scrollFunc : ", e);
      var element = e.target;
      // console.log("scrollFunc scrollHeight: ", element.scrollHeight);
      // console.log("scrollFunc scrollTop: ", element.scrollTop);
      // console.log("scrollFunc clientHeight: ", element.clientHeight);
      let diff =
        Math.abs(element.scrollHeight) -
        (Math.abs(element.clientHeight) + Math.abs(element.scrollTop));
      // console.log("scrollFunc diffdiffdiffdiffdiffdiff: ", diff);
      if (diff == 0) {
        console.log("fetch new data");
        this.$emit("fetch-new-chat-data", true);
      }
    },
  },
};
</script>

<style scoped>
p {
  margin: 0;
}
.chat-info {
  padding: 10px;
}
.prev-chats {
  display: flex;
  flex-direction: column-reverse;
  overflow: auto;
}
.senderClass {
  text-align: right;
  border: 2px solid #ff9797;
  box-sizing: border-box;
  width: 85%;
  margin-left: auto;
  border-radius: 10px;
  padding: 0 7px;
  background: bisque;
}
.receiverClass {
  text-align: left;
  border: 2px solid #a9d3ff;
  width: 85%;
  border-radius: 10px;
  padding: 0 7px;
  background: lightcyan;
  box-sizing: border-box;
}

.rest-class {
  height: calc(100% - 60px);
}
.active-chat-info-class {
  height: 60px;
}
</style>
