<template>
  <div
    id="backgrnd"
    class="dialog-div align-v-h-center"
    @click="closeProfilePicFunc"
  >
    <div class="dialog-div-inner">
      <div class="dialog-div-inner-2">
        <img
          @click="changeProfilePicFunc"
          :src="userData.profilePic ? userData.profilePic : picSrc"
          alt="img"
        />
      </div>
      <div>
        <div class="fileinputs">
          <input type="file" class="file" @change="previewFiles" />
          <div class="fakefile">
            <button class="btn">changeProfilePic</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { updateProfilePic } from "../../services/UserService";
import altPic from "../../assets/person_outline_black_24dp.svg";

export default {
  name: "ProfilePic",
  props: ["user-data"],
  emits: ["close-profile-pic", "change-img-in-user-data"],
  data() {
    return {
      picSrc: altPic,
    };
  },
  methods: {
    closeProfilePicFunc(e) {
      let backgrnd = document.getElementById("backgrnd");
      if (e.target == backgrnd) this.$emit("close-profile-pic", true);
    },
    previewFiles(e) {
      console.log("previewFiles : ", e.target.files);
      if (e.target.files.length > 0) {
        let file = e.target.files[0];
        console.log("previewFiles file: ", file);
        const formData = new FormData();
        formData.append("image", file);
        console.log("updateProfilePic formData", formData);
        updateProfilePic(formData).then((res) => {
          console.log("updateProfilePic res", res);
          if (res.msg == "success") {
            this.$emit("change-img-in-user-data", res.imageUrl);
          }
        });
      }
    },
  },
};
</script>

<style scoped>
.dialog-div {
  position: absolute;
  top: 0%;
  height: 100%;
  width: 100%;
  z-index: 100;
}

.dialog-div-inner {
  width: 50%;
  height: 50%;
  background: lightgreen;
  border-radius: 50px;
  text-align: center;
  min-height: 250px;
  max-width: 350px;
}
.dialog-div-inner-2 {
  text-align: center;
  height: 70%;
  padding: 15px 45px;
}
.dialog-div-inner-2 img {
  height: 100%;
  width: 100%;
  border-radius: 100%;
  object-fit: cover;
}

div.fileinputs {
  position: relative;
}

div.fakefile {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  width: 100%;
}

input.file {
  position: relative;
  text-align: right;
  -moz-opacity: 0;
  opacity: 0;
  z-index: 2;
  padding: 5px;
  margin: 5px 0;
  cursor: pointer;
  /* filter: alpha(opacity: 0); */
}
</style>