<template>
  <div class="user-info">
    <div @click="userClickedFunc(user)" class="row">
      <div class="col-3 img-div">
        <img
          style="max-height: 55px"
          :src="user.profilePic ? user.profilePic : picSrc"
          alt="img"
        />
      </div>
      <div class="col-9 user-name">
        <p class="no-wrap-class h-50 px-5">
          {{ user.name }}
        </p>
        <div class="h-50 row">
          <small class="col-10 align-v-center no-wrap-class">{{
            lastMessage
          }}</small>
          <small class="col-2 align-v-center unread-cnt-class">{{
            unreadMsg > 0 ? "+" + unreadMsg : ""
          }}</small>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import altPic from "../../assets/person_outline_black_24dp.svg";

export default {
  name: "UserChat",
  props: ["user", "new-message-arrived", "active-chat-user-data"],
  emits: ["user-clicked"],
  data() {
    return {
      picSrc: altPic,
      unreadMsg: 0,
      lastMessage: "",
    };
  },
  mounted() {
    if (this.user.lastMsg) {
      this.lastMessage = this.user.lastMsg.message;
    }
  },
  watch: {
    newMessageArrived(n) {
      if (
        this.user._id.toString() === n.sender._id.toString() ||
        this.user._id.toString() === n.receiver._id.toString()
      ) {
        this.unreadMsg++;
        this.lastMessage = n.message;
      }
      if (
        this.activeChatUserData &&
        this.activeChatUserData._id.toString() === this.user._id.toString()
      ) {
        this.unreadMsg = 0;
      }
    },
  },
  methods: {
    userClickedFunc(user) {
      this.$emit("user-clicked", user);
      this.unreadMsg = 0;
    },
  },
};
</script>

<style scoped>
p,
small {
  margin: 0 7px;
}
p {
  margin-top: 7px;
  margin-bottom: 5px;
}
.user-info {
  text-align: left;
}
.user-info:hover {
  cursor: pointer;
  background: rgb(235, 232, 232);
}
.user-name {
  /* padding: 10px 0; */
  border-bottom: ridge;
  /* margin-right: 10px; */
  overflow: hidden;
}
.img-div {
  text-align: right;
  padding: 5px;
  margin: auto;
}

img {
  border-radius: 20px;
  width: 100%;
  max-width: 60px;
  max-height: 60px;
  min-width: 40px;
  min-height: 40px;
  object-fit: cover;
}
.no-wrap-class {
  white-space: nowrap;
  overflow: hidden;
}
p,
small {
  margin: 0;
}
small {
  padding: 5px;
}

.unread-cnt-class {
  justify-content: flex-end;
  color: #9c27b0;
  font-weight: 900;
}
.user-name > p {
  display: flex;
  align-items: flex-end;
}
</style>
