<template>
  <div class="user-list-class">
    <transition-group name="fade">
      <user-chat
        class="line"
        v-for="user in userDataList"
        :key="user._id"
        :user="user"
        @user-clicked="userClickedFunc"
        :new-message-arrived="newMessageArrived"
        :active-chat-user-data="activeChatUserData"
      />
    </transition-group>
  </div>
</template>

<script>
import UserChat from "./UserChat.vue";
import { getAllUsers } from "../../services/UserService";

export default {
  components: { UserChat },
  name: "UserList",
  props: ["new-message-arrived", "active-chat-user-data", "new-user-online"],
  emits: ["user-clicked"],
  data() {
    return {
      userDataList: [],
    };
  },
  watch: {
    newUserOnline(n) {
      console.log("newUserOnline : ", n);
      if (n) {
        let idx = this.userDataList.findIndex((elem) => {
          return elem._id.toString() === n._id.toString();
        });
        console.log("idx : ", idx);
        if (idx >= 0) {
          this.userDataList[idx].online = n.online;
        }
      }
    },
    newMessageArrived(n) {
      console.log("newMessageArrived : ", n);
      let senderUSer = this.userDataList.find((elem) => {
        return (
          elem._id.toString() === n.sender._id.toString() ||
          elem._id.toString() === n.receiver._id.toString()
        );
      });
      this.userDataList = this.userDataList.filter((elem) => {
        return elem._id.toString() !== senderUSer._id.toString();
      });
      this.userDataList = [senderUSer, ...this.userDataList];
    },
  },
  beforeMount() {
    getAllUsers().then((res) => {
      console.log("getAllUsers : ", res);
      if (res.msg == "success") {
        this.userDataList = res.usersData;
      }
    });
  },
  methods: {
    userClickedFunc(user) {
      this.$emit("user-clicked", user);
    },
  },
};
</script>

<style scoped>
.user-list-class {
  overflow: auto;
  overflow-x: hidden;
}
.line {
  transition: all 1s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
  /* transform: translateY(-100px); */
  z-index: 10;
  background-color: red;
}

.fade-leave-active {
  position: absolute;
  background-color: red;
  z-index: 10;
}
</style>
