<template>
  <div class="sign-up-container">
    <div class="form-div">
      <p v-if="setPassword || resetPassword">{{ emailOrPhone }}</p>
      <input
        v-if="!(resetPassword || setPassword)"
        type="text"
        placeholder="Enter Email or Phone No"
        v-model="emailOrPhone"
        v-on:keyup.enter="logInFunc"
        autofocus
      />
      <input
        v-if="resetPassword"
        type="number"
        placeholder="Enter OTP"
        v-model="passwordResetOtp"
        v-on:keyup.enter="logInFunc"
        autofocus
      />
      <input
        type="password"
        placeholder="Password"
        v-model="password"
        v-on:keyup.enter="logInFunc"
      />
      <div v-if="!(resetPassword || setPassword)" class="forg-pass-class">
        <span v-if="!showLoader" @click="forgotPasswordFunc"
          >Forgot Password</span
        >
        <div v-else class="loader">Loading...</div>
      </div>
      <p
        :class="{
          errorClass: !(errorMsg == 'success'),
          successClass: errorMsg == 'success',
        }"
      >
        {{ errorMsg }}
      </p>
      <button class="btn p-10" @click="logInFunc">
        {{ resetPassword || setPassword ? "Set Password" : "Log In" }}
      </button>
    </div>
    <div class="p-10" v-if="!(resetPassword || setPassword)">OR</div>
    <div class="p-10 align-v-h-center" v-if="!(resetPassword || setPassword)">
      <a class="btn align-v-center" :href="googleLoginUrl"
        ><img class="px-5" src="../../assets/google_24.png" />Login with
        Google</a
      >
    </div>
    <div class="p-10">
      New Member? <button class="btn" @click="showSignUpFunc">Sign Up</button>
    </div>
  </div>
</template>

<script>
import { signIn, forgetPassword } from "../../services/UserService";

export default {
  name: "SignUp",
  props: ["google-login-url", "set-password", "user-data"],
  emits: ["show-sign-up", "user-authorized"],
  data() {
    return {
      emailOrPhone: "",
      password: "",
      errorMsg: "",
      resetPassword: false,
      passwordResetOtp: "",
      showLoader: false,
    };
  },
  watch: {
    setPassword(n) {
      console.log("setPassword WATCHER : ", n);
      if (n) {
        this.emailOrPhone = this.userData.email.toString();
      }
    },
  },
  methods: {
    logInFunc() {
      if (this.emailOrPhone == "") {
        this.errorMsg = "Email or Phone No is required.";
      } else if (this.password == "") {
        this.errorMsg = "Password is required.";
      } else if (this.emailOrPhone != "" && this.password != "") {
        this.errorMsg = "";
        signIn({
          setPassword: this.setPassword || this.resetPassword,
          email: this.emailOrPhone,
          phoneno: this.emailOrPhone,
          password: this.password,
          otp: this.passwordResetOtp,
        }).then((res) => {
          console.log("signIn res: ", res);
          this.errorMsg = res.msg;
          if (res.msg == "Password Reset Success") {
            this.resetPassword = false;
            this.password = "";
          }
          this.$emit("user-authorized", res);
        });
      }
    },
    showSignUpFunc() {
      this.$emit("show-sign-up", true);
    },
    forgotPasswordFunc() {
      this.showLoader = true;
      forgetPassword({
        email: this.emailOrPhone,
        phoneno: this.emailOrPhone,
      }).then((res) => {
        console.log("forgotPasswordFunc : ", res);
        this.errorMsg = res.msg;
        this.showLoader = false;
        if (res.msg == "success") {
          this.errorMsg = "Your Email has received a OTP.";
          this.resetPassword = true;
        }
      });
    },
  },
};
</script>

<style scoped>
span {
  font-style: italic;
  color: blue;
}
span:hover {
  cursor: pointer;
}

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  color: #090df1;
  font-size: 4px;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
  top: -10px;
  left: 20px;
}
.loader:before,
.loader:after {
  content: "";
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
</style>