<template>
  <div class="h-100 align-v-h-center">
    <sign-in
      v-if="showSignInPage"
      :user-data="userData"
      :set-password="setPassword"
      :google-login-url="googleLoginUrl"
      @show-sign-up="showSignUpFunc"
      @user-authorized="userAuthorizedFunc"
    />
    <sign-up
      v-else
      :google-login-url="googleLoginUrl"
      @show-sign-in="showSignInFunc"
    />
  </div>
</template>

<script>
import SignIn from "./SignIn.vue";
import SignUp from "./SignUp.vue";
export default {
  components: { SignIn, SignUp },
  name: "SignInSignUp",
  props: ["google-login-url", "set-password", "user-data"],
  emits: ["user-authorized"],
  data() {
    return {
      showSignInPage: true,
    };
  },
  methods: {
    showSignUpFunc() {
      this.showSignInPage = false;
    },
    showSignInFunc() {
      this.showSignInPage = true;
    },
    userAuthorizedFunc(t) {
      this.$emit("user-authorized", t);
    },
  },
};
</script>