<template>
  <div class="sign-up-container">
    <div class="form-div">
      <input type="text" placeholder="Name" v-model="name" />
      <input
        type="text"
        placeholder="Enter Email or Phone No"
        v-model="emailOrPhone"
      />
      <input type="password" placeholder="Password" v-model="password" />
      <input
        type="password"
        placeholder="Confirm Password"
        v-model="confirmPassword"
      />
      <p
        :class="{
          errorClass: !(errorMsg == 'success'),
          successClass: errorMsg == 'success',
        }"
      >
        {{ errorMsg }}
      </p>
      <button class="btn" @click="signUpFunc">Sign Up</button>
    </div>
    <div class="p-5">OR</div>
    <div class="align-v-h-center">
      <a class="btn align-v-center" :href="googleLoginUrl"
        ><img class="px-5" src="../../assets/google_24.png" />SignUp with
        Google</a
      >
    </div>
    <div class="p-10">
      Already a member
      <button class="btn" @click="showSignInFunc">Log In</button>
    </div>
  </div>
</template>

<script>
import { createUser } from "../../services/UserService";

export default {
  name: "SignUp",
  emits: ["show-sign-in"],
  props: ["google-login-url"],
  data() {
    return {
      name: "",
      emailOrPhone: "",
      password: "",
      confirmPassword: "",
      errorMsg: "",
    };
  },
  methods: {
    signUpFunc() {
      if (this.name == "") {
        this.errorMsg = "Name is required.";
      } else if (this.emailOrPhone == "") {
        this.errorMsg = "Email or Phone No is required.";
      } else if (this.password == "") {
        this.errorMsg = "Password is required.";
      } else if (this.password != this.confirmPassword) {
        this.errorMsg = "Password should match";
      } else if (
        this.name != "" &&
        this.emailOrPhone != "" &&
        this.password != "" &&
        this.password == this.confirmPassword
      ) {
        this.errorMsg = "";
        createUser({
          name: this.name,
          email: this.emailOrPhone,
          phoneno: this.emailOrPhone,
          password: this.password,
          confirmPassword: this.confirmPassword,
        }).then((res) => {
          this.errorMsg = res.msg;
          this.name == "";
          this.emailOrPhone == "";
          this.password == "";
          this.confirmPassword == "";
        });
      }
    },
    showSignInFunc() {
      this.$emit("show-sign-in", true);
    },
  },
};
</script>
