<template>
  <main-page
    v-if="authorized"
    :user-data="userData"
    @user-signed-out="userSignedOutFunc"
    @change-img-in-user-data="changeImgInUserDataFunc"
  />
  <sign-in-sign-up
    v-else
    @user-authorized="userAuthorizedFunc"
    :google-login-url="googleLoginUrl"
    :set-password="setPassword"
    :user-data="userData"
  />
</template>

<script>
import SignInSignUp from "./components/authentication/SignInSignUp.vue";
import MainPage from "./components/ground/MainPage.vue";
import { checkSessionPresent } from "./services/UserService";

export default {
  components: { SignInSignUp, MainPage },
  name: "App",
  data() {
    return {
      authorized: false,
      userData: null,
      googleLoginUrl: null,
      setPassword: false,
    };
  },
  beforeMount() {
    checkSessionPresent().then((res) => {
      console.log("checkSessionPresent 123: ", res);
      if (res.msg == "password-not-set") {
        this.setPassword = true;
        this.userData = res.userData;
      } else if (res.msg == "loggedIn") {
        this.authorized = true;
        this.userData = res.userData;
      }
      this.googleLoginUrl = res.googleLoginUrl;
    });
  },
  methods: {
    userAuthorizedFunc(res) {
      if (res.msg == "success") {
        this.authorized = true;
        this.setPassword = false;
        this.userData = res.userData;
      }
    },
    userSignedOutFunc(t) {
      this.authorized = !t;
      this.userData = null;
    },
    changeImgInUserDataFunc(t) {
      console.log("changeImgInUserDataFunc : ", t);
      let updatedUserData = { ...this.userData };
      updatedUserData.profilePic = t;
      this.userData = updatedUserData;
    },
  },
};
</script>

<style>
:root {
  --header-height: 70px;
  --main-ground-height: calc(100% - 70px);
}
@font-face {
  font-family: "Roboto";
  src: url("assets/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}

body {
  margin: 0;
  padding: 0;
}
#app {
  font-family: "Roboto";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  height: 100vh;
}
.bdr-red {
  border: 1px solid red;
  box-sizing: border-box;
}
.bdr-blue {
  border: 1px solid blue;
  box-sizing: border-box;
}
.bdr-green {
  border: 1px solid green;
  box-sizing: border-box;
}
.bdr-black {
  border: 1px solid black;
  box-sizing: border-box;
}
.h-100 {
  height: 100%;
}
.ml-auto {
  margin-left: auto;
}
.align-v-h-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.align-v-center {
  display: flex;
  align-items: center;
}
.btn {
  cursor: pointer;
  padding: 5px;
  margin: 5px 0;
  border: 2px solid rebeccapurple;
  border-radius: 5px;
  background-color: rgb(241, 182, 241);
}
button:focus {
  outline: none;
}
.btn:hover {
  box-shadow: 0px 0px 10px #8227ea;
}
.successClass {
  color: #3f9c10;
  margin: 1px;
}
.errorClass {
  color: red;
  margin: 1px;
}
.sign-up-container {
  width: 50%;
  box-shadow: 0px 0px 15px #8227ea;
  border-radius: 10px;
  padding: 20px 0;
}
.form-div input {
  width: 80%;
  margin: 10px;
  outline: none;
  padding: 5px;
  box-sizing: border-box;
  border: 0;
  border-bottom: 1px solid purple;
}
.forg-pass-class {
  text-align: left;
  width: 80%;
  margin: auto;
}
.w-100 {
  width: 100%;
}
.h-10 {
  height: 10%;
}
.h-50 {
  height: 50%;
}
.h-90 {
  height: 90%;
}
.row {
  display: flex;
  padding: 0;
  margin: 0;
}
.col-1 {
  width: 8.333333%;
}
.col-2 {
  width: 16.66666%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33333%;
}
.col-5 {
  width: 41.66666%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.333333%;
}
.col-8 {
  width: 66.66666%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.333333%;
}
.px-5 {
  padding-left: 5px;
  padding-right: 5px;
}
.p-5 {
  padding: 5px;
}
.p-10 {
  padding: 10px;
}
a {
  text-decoration: none;
}
@media screen and (max-width: 480px) {
  .sign-up-container {
    width: 90%;
  }
}
</style>
